.container {
  min-height: 100vh;
}
.navigation {
  background: rgba(0,0,0,0.92);
  height: 43.5px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navigation > div {
  width: 82%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation > div > ul {
  margin-top: 5px;
}
.navigation > div > ul:first-of-type, .navigation > div > ul:last-of-type, .navigation > div > ul:nth-child(9) {
  margin-top: 8px;
}
.navigation > div > ul > li {
  list-style-type: none;
}
.navigation > div > ul > li > a {
  color: #d3cfcf;
  font-size: 0.85em;
}
.controller {
  height: 43px;
}
.span_selling {
  background-color: #F5F5F7;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.span_selling > span {
  font-size: 0.88em;
}
.span_selling > span > a {
  color: #0066CC;
  cursor: pointer;
}
.span_selling > span > a:hover {
  text-decoration: underline;
}
.section {
  display: flex;
  height: 794px;
}
.section > a > img {
  max-width: 70px;
  max-height: 88px;
}
.section > a {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FBFBFD;
  align-items: center;
}
.section > a > h2 {
  font-size: 3.2em;
  width: 45%;
  text-align: center;
  font-weight: 600;
}
.section > a > a {
  font-size: 1.25em;
  color: #0066CC;
  display: flex;
  align-items: center;
}
.section > a > a > svg {
  margin-left: 2px;
}
.section > a > div {
  width: 78%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  /* margin-top: 92px; */
}
/* .section > a {
  width: 100%;
  height: 100%;
  background-color: #FBFBFD;
  display: grid;
  justify-items: center;
  grid-template-rows: 152px 130px 20px 400px;;
  justify-items: center;
  cursor: pointer;
}
.section > a > img {
  align-self: center;
}
.section > a > h2 {
  font-size: 3.2em;
  width: 45%;
  text-align: center;
  font-weight: 600;
}
.section > a > a {
  font-size: 1.25em;
  color: #0066CC;
  display: flex;
  align-items: center;
}
.section > a > a > svg {
  margin-left: 2px;
}
.section > a > div {
  width: 78%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 92px;
} */